*{
    background: linear-gradient(to right, #f00 0%, #f00 25%, #00f 100%);  
    font-family: "Arial Narrow Bold";
}
h1{
    font-size: 42px;
}
h2{
    font-size: 32px;
}
div{
    margin: 20px;
    font-size: 25px;
}
a{
    white-space: pre;
    font-size: 20px;
    color: #000;
}